.col-sm-6 {
    margin-top: 15px;

    .css-1ri6ub7-MuiPaper-root-MuiCard-root {
        max-width: 700px !important;
    }

    .MuiCardHeader-title {
        color: #818181;
    }

    .MuiCardHeader-subheader {
        color: #59adda;
        font-weight: 600;
    }
}

.dashboard-card {
    padding: 20px;
    margin-top: 15px;

    .nav-icon {
        font-size: 36px !important;
        color: #59adda;
    }

}

.cardDoughnutChart {
    margin-top: 15px;

    canvas {
        margin: 0 auto;
        padding: 20px;
    }
}

.card-configuraciones {
    .card {
        padding: 30px;
        margin: 20px;

        .card-header-row {
            justify-content: space-between;
            align-items: end;

            .MuiFormControl-root {
                width: 35%;
            }

            .card-header-buttons {
                width: 35%;
                display: flex;
                gap: 2%;

                button {
                    width: 48%;
                    padding: 15px;
                }
            }
        }
    }

}