.custom-dropdown {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .custom-dropdown .MuiInputLabel-root {
    color: #555; /* Estilo para el label */
  }
  
  .custom-dropdown .MuiSelect-select {
    color: #333; /* Estilo para el texto del select */
  }