//login
// .backwall  {
//     background-image: url("./images/Screenshot_2.jpg");
//     background-size: "cover";
// }

.logininputs{
    border-radius:"10px" ;
    border-color:#4791db ;
    border-width:2px ;
    
}

.loginbutton{
    border-radius:"10px" ;
    background-color: "#03386a";
}

.loginCard
{
    border-radius: "25px";
     width:"550px";
      height:"350px";
       margin:"auto"
}
input::placeholder {
    font-size: 1em;
    font-style: bold;
    text-align: left;
  }
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}


//<Image src="/images/logos/TEMIS - ATENEA LOGO_Temis solo.png" style={{ width: "300px" }}



